node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
contracts

# Build
./lookupTables/binTables
./lookupTables/*.json
./build/workerPool
./build/bin-utils.ts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

